extends layout
block title
	title 生成结果
block script
	script(src='/javascripts/create.min.js')

block content
	ol.am-bread
		li 系统
		li 生成结果
	div.am-form
		div.am-form-group 
			div.am-u-sm-9
				textarea