extends layout
block title
	title 生成结果
block script
	script(src='/javascripts/create.min.js')

block content
	ol.am-breadcrumb.am-breadcrumb-slash
		li 系统
		li HTML生成
	div.am-form
		div.am-form-group 
			div.am-u-sm-9
				textarea