extends layout
block title
	title 生成结果
block script
	script(src='/javascripts/create.min.js')

block content
	ol.am-breadcrumb.am-breadcrumb-slash
		li 系统
		li HTML生成
	div.am-form
		each val, index in htmlary
			div.am-form-group 
				label #{val.size}px
				textarea(cols=8 rows=10) #{val.html}
			